In [41]:
# data processing
import pandas as pd

# Load the data from the Excel file
data = pd.read_excel("XTern 2024 Artificial Intelegence Data Set.xlsx")

# Display the first few rows to inspect the data
data.head()
data.dtypes

Year          object
Major         object
University    object
Time           int64
Order         object
dtype: object

In [52]:
# Resourced used: https://www.kaggle.com/code/manibhask/data-exploration-and-predictive-modeling
# Checking for the Missing values
# Using isnull fuction to count the total null values in each field
total = data.isnull().sum().sort_values(ascending=False) 
# Percent of missing values is estimated by dividing total missing and the original total
percent = (data.isnull().sum()/data.isnull().count()).sort_values(ascending=False)
# Concatenating the Total and Percent fields sing pandas concat fucntion
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
# Displays top 20 from our max sorted list
missing_data.head(20)

                                                    Total  Percent
Time                                                    0      0.0
Major_Mathematics                                       0      0.0
Major_Music                                             0      0.0
Major_Philosophy                                        0      0.0
Major_Physics                                           0      0.0
Major_Political Science                                 0      0.0
Major_Psychology                                        0      0.0
Major_Sociology                                         0      0.0
Year_Year 1                                             0      0.0
Year_Year 2                                             0      0.0
Year_Year 3                                             0      0.0
Year_Year 4                                             0      0.0
Order_Breaded Pork Tenderloin Sandwich                  0      0.0
Order_Cornbread Hush Puppies                            0      0.0
Order_Fried Catfish Basket                              0      0.0
Order_Hoosier BBQ Pulled Pork Sandwich                  0      0.0
Order_Indiana Buffalo Chicken Tacos (3 tacos)           0      0.0
Order_Indiana Corn on the Cob (brushed with gar...      0      0.0
Order_Indiana Pork Chili                                0      0.0
Order_Sugar Cream Pie                                   0      0.0

In [42]:
# Identify the categorical columns for encoding
categorical_columns = ["University", "Major", "Year", "Order"]

# Perform one-hot encoding on the categorical columns
data = pd.get_dummies(data, columns=categorical_columns)

# Display the updated data
data.head()

,Time,University_Ball State University,University_Butler University,University_DePauw University,University_Indiana State University,University_Indiana University Bloomington,University_Indiana University-Purdue University Indianapolis (IUPUI),University_Purdue University,University_University of Evansville,University_University of Notre Dame,...,Order_Breaded Pork Tenderloin Sandwich,Order_Cornbread Hush Puppies,Order_Fried Catfish Basket,Order_Hoosier BBQ Pulled Pork Sandwich,Order_Indiana Buffalo Chicken Tacos (3 tacos),Order_Indiana Corn on the Cob (brushed with garlic butter),Order_Indiana Pork Chili,Order_Sugar Cream Pie,Order_Sweet Potato Fries,Order_Ultimate Grilled Cheese Sandwich (with bacon and tomato)
0,12,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,14,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,12,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,11,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,12,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [43]:
# Define the features (X) and the target variable (y)
X = data.loc[:, ~data.columns.str.startswith('Order')]
y = data.loc[:, data.columns.str.startswith('Order')]

In [44]:
X.head()

,Time,University_Ball State University,University_Butler University,University_DePauw University,University_Indiana State University,University_Indiana University Bloomington,University_Indiana University-Purdue University Indianapolis (IUPUI),University_Purdue University,University_University of Evansville,University_University of Notre Dame,...,Major_Music,Major_Philosophy,Major_Physics,Major_Political Science,Major_Psychology,Major_Sociology,Year_Year 1,Year_Year 2,Year_Year 3,Year_Year 4
0,12,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
1,14,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,12,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,11,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,12,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [45]:
y.head()

,Order_Breaded Pork Tenderloin Sandwich,Order_Cornbread Hush Puppies,Order_Fried Catfish Basket,Order_Hoosier BBQ Pulled Pork Sandwich,Order_Indiana Buffalo Chicken Tacos (3 tacos),Order_Indiana Corn on the Cob (brushed with garlic butter),Order_Indiana Pork Chili,Order_Sugar Cream Pie,Order_Sweet Potato Fries,Order_Ultimate Grilled Cheese Sandwich (with bacon and tomato)
0,0,0,1,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,1,0,0
2,0,0,0,0,0,0,1,0,0,0
3,0,0,1,0,0,0,0,0,0,0
4,0,0,0,0,0,1,0,0,0,0

In [46]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [47]:
from sklearn.tree import DecisionTreeClassifier

# Create a Decision Tree classifier
model = DecisionTreeClassifier()

# Train the model on the training data
model.fit(X_train, y_train)

DecisionTreeClassifier()

In [48]:
y_pred = model.predict(X_test)

In [49]:
from sklearn.metrics import accuracy_score, classification_report

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.2f}")

# Generate a classification report
report = classification_report(y_test, y_pred)
print(report)

Accuracy: 0.55
              precision    recall  f1-score   support

           0       0.62      0.38      0.47        94
           1       0.67      0.45      0.53       112
           2       0.77      0.46      0.57       107
           3       0.69      0.65      0.67       103
           4       0.71      0.54      0.61        93
           5       0.71      0.82      0.76        84
           6       0.77      0.83      0.80        95
           7       0.73      0.41      0.52       110
           8       0.63      0.53      0.57        98
           9       0.81      0.55      0.66       104

   micro avg       0.71      0.55      0.62      1000
   macro avg       0.71      0.56      0.62      1000
weighted avg       0.71      0.55      0.61      1000
 samples avg       0.55      0.55      0.55      1000

/Users/lmr/opt/anaconda3/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in samples with no predicted labels. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [50]:
import joblib

# Save the model to a file
joblib.dump(model, "food_order_model.pkl")

['food_order_model.pkl']